<!DOCTYPE html>
<html>
  <head>
    <title>Repti!</title>
  </head>
  <body>
    <h1>Repti!</h1>
    <ul id="task_list">
      {{#each tasks}}
        <li>{{ this.name }}</li>
      {{/each}}
      <li><form action="/{{ this.userCode }}/tasks" method="post"><input id="new_task_entry" name="task_name" /></form></li>
    </ul>
  </body>
</html>
